{% extends "base.html" %}
{% block title %}О сайте{% endblock %}
{% block content %}

  <h2>О сайте</h2>
  <p>Этот сайт посвящён авиационной технике России. Основной функционал включает:</p>
  <ul>
    <li>Просмотр каталога техник с изображениями</li>
    <li>Открытие детальной страницы каждой техники с её описанием и изображением</li>
    <li>Форма обратной связи для отправки сообщений администратору</li>
    <li>Административная панель для просмотра и управления сообщениями пользователей</li>
    <li>Авторизация и права доступа для администрирования контента.</li>


</div>
{% endblock %}